{% extends 'base.html' %}

{% block content %}
    <section class="expertises">
        <div class="container" style="padding-left: 0px;">
            <h1 class="section-header">{% autoescape off %} {{ title }} {% endautoescape %}</h1>

            {% autoescape off %}
            <div class="row  justify-content-between  gy-4" style="margin: 37px -12px 0 0;">
                {% for expertise in trusted %}
                    <div class="service-item position-relative">
                        <div class="icon"><img src="../media/img/easy_crypto/{{ expertise.image }}" alt=""/></div>
                        <b> {{ expertise.title }} </b>
                        {% if expertise.text %} 
                          <p style="color: #1A1F24;opacity: 0.5;">{{ expertise.text }}</p>
                        {% endif %}
                    </div>
                <!-- End Service Item -->
                {% endfor %}
            </div>
            {% endautoescape %}
    </section>
    <section>
        <div class="payment-methods container">
            <p>Payment methods & Interest rates</p>
            <img class="payment-methods__schema" src="/media/img/easy_crypto/payment_methods.svg" alt=""/>
        </div>
    </section>

    <section id="steps" class="s-steps">
        <div class="container buy-steps">
            <div class="preview">
                <b>How to buy/sell crypto</b>
            </div>
            
            <div class="items">

                <div class="item">
                    <div class="order">
                        01
                    </div>
                    <div class="line">
                        <span class="step-line"></span>
                        <img src="../media/img/steps-icon.png">
                        <span class="step-line"></span>
                    </div>
                    <div class="text">
                        <b>Create your free account</b>
                    </div>
                </div>
                <div class="item">
                    <div class="order">
                        02
                    </div>
                    <div class="line">
                        <span class="step-line"></span>
                        <img src="../media/img/steps-icon.png">
                        <span class="step-line"></span>
                    </div>
                    <div class="text">
                        <b>Complete your account setup by KYC/AML process.</b>
                    </div>
                </div>
                <div class="item">
                    <div class="order">
                        03
                    </div>
                    <div class="line">
                        <span class="step-line"></span>
                        <img src="../media/img/steps-icon.png">
                        <span class="last-line"></span>
                    </div>
                    <div class="text">
                        <b>Choose the amount of crypto you’d like to buy or sell, then select your payment option.</b>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="buysell">
        <div class="container steps-buysell">
            <p>Onboarding process</p>
            <img class="buysell-methods__schema" src="/media/img/easy_crypto/onboarding_updated_shema.svg" alt=""/>
        </div>
    </section>
    <section class="partners">
        <div class="container">
            <p>Our partners</p>
            <div class="partners-list">
                <img src="/media/img/easy_crypto/partners/amlbot-logo.svg" alt="AMLBot logo"/>
                <img src="/media/img/easy_crypto/partners/argoskyc-logo.svg"/>
            </div>
        </div>
    </section>

{% endblock %}



