{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>
    <div class="accordion" id="accordionExample">

        {% for faq in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="badge bg-secondary">{{ forloop.counter }}</span>
                        {{ faq.question }}
                        {% if faq.note %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ faq.note }}</span>
                        {% endif %}

                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% autoescape off %}
                            {{ faq.answer }}
                        {% endautoescape %}

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}



