{% extends 'base.html' %}

{% block content %}
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-12 justify-content-center">
                    <div class="content px-xl-5">
                        <h1 class="section-header">{{ title }}</h1>
                    </div>

                    <div class="accordion accordion-flush px-xl-5" id="faqlist">
                        {% for faq in faqs %}
                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    {{ faq.question }}
                                    {% if faq.note %}
                                        <div class="color-gray fs-6 fw-light">{{ faq.note }}</div>
                                    {% endif %}
                                </h3>
                                <div id="faq-content-1" class="accordion-collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        {% autoescape off %}
                                            {{ faq.answer }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div><!-- # Faq item-->
                        {% endfor %}
                        <br>
                        <!-- <a href="{% url 'register' %}" class="btn btn-primary btn-get-started mx-auto">Sign Me Up</a> -->

                    </div>
                    <a href="{% url 'register' %}" class="btn btn-primary btn-get-started mx-auto d-flex justify-content-center" style="max-width: 300px;">Sign Me Up</a>
                </div>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->

{% endblock %}



