{% extends 'base.html' %}

{% block content %}

    <div class="my-auto p-5" id="content">
        <div class="text-center py-5">
            <br> <br> <br>
            <h1 class="display-1">error 404</h1>
            <h2>The page you requested could not be found.</h2>
        </div>

    </div>
{#    <div class="background">#}
{#        <div class="container">#}
{#            <div class="text-center error-box">#}
{#                <br><br><br>#}
{#                <h1>error 404</h1>#}
{#                <h4>The page you requested could not be found.</h4>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}