{% extends 'base.html' %}

{% block content %}

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container main-banner">
            <div class="row left">
                <div class="col title">

                    {{ title }}
                </div>
                <div class="col caption">
{#                    <div class="caption">{% autoescape off %}#}
                        {{ caption }}
{#                    {% endautoescape %}#}
                    </div>
                    <a href="{% url 'register' %}" class="col-11 b-button">
                        <b class="textarea">Sign Me Up</b>
                        <div class="icon" style="height: 26px;"><img src='media/img/sign-me-icon.png'></div>
                    </a>
                </div>

                <div class="right">
                    <img src="media/img/cards2.png">
                </div>

            </div>
    </section>
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services" data-aos="fade-up">
        <div class="container" style="padding: 0 5px 0 0;">
            {% autoescape off %}
                <div class="row  justify-content-around  gy-4">
                    {% for item in bankServices %}
                        <div class="col-xl-3 col-md-6 d-flex">
                            <div class="service-item position-relative">
                                <div class="icon"><img src="media/img/{{ item.icon }}" alt=""/></div>
                                <b> {{ item.title }} </b>
                                {% if item.caption %} <p
                                        style="color: #1A1F24;opacity: 0.5;">{{ item.caption }}</p> {% endif %}
                            </div>
                        </div><!-- End Service Item -->
                    {% endfor %}
                </div>
            {% endautoescape %}

        </div>
    </section><!-- End Featured Services Section -->
    <section id="steps" class="s-steps">
        <div class="container steps">
            <div class="preview">
                <b>{{ step_title }}</b>

                <div class="time">
                    <div class="icon"><img src="media/img/clock.png"></div>
                    <p>On average, adults in the US use the same primary checking account for more than 17 years.</p>
                </div>
            </div>

            <div class="items">
                {% for item in steps %}
                    <div class="item">
                        <div class="order">
                            0{{ item.order }}
                        </div>
                        <div class="line">
                            <span class="step-line"></span>
                            <img src="media/img/steps-icon.svg">
                            <span class="step-line"></span>
                        </div>
                        <div class="text">
                            <b>{{ item.title }}</b>
                            <p>{{ item.caption }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="onfocus" class="onfocus">
        <div class="container" style="padding: 0" data-aos="fade-up">

            <div class="bottom-banner">
                <img class="image" src="media/img/caex-team.jpg">
                <div class="bottom-info">
                    <div class="title">{{ caex_today.title }}</div>
                    <div class="caption">{% autoescape off %}
                        <div>
                            {{ caex_today.text }}
                        </div>
                    {% endautoescape %}
                    </div>
                    <a href="{% url 'register' %}" class="button">
                        <b class="textarea">Sign Me Up</b>
                        <div class="icon" style="height: 26px;"><img src='media/img/sign-me-icon.png'></div>
                    </a>
                </div>
            </div>
        </div>
    </section><!-- End On Focus Section -->

{% endblock %}
