{% extends 'base.html' %}
{% block title %} Register :: {{ block.super }} {% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="auth-form">
                <h1 class="text">Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <p class="mt-3 text-center">Have an account?&nbsp; <a href="{% url 'login' %}">Sign In</a></p>
            </div>
        </div>
    </section>
{% endblock %}