<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="footer-info">
                        <img class="footer-logo" src="/media/img/caex_logo_white.svg">
                        <p>1800 S Brand Blvd Glendale,<br> CA 91204 United States<br>Unit 213</p>
                        <br>
                        <strong>Licence:</strong>
                        <p>MSB License Number 31000251129247</p>
                        <br>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="footer-info">
                        <div>
                            <strong>Phone:</strong>
                            <p>+1 747 609 7005<br>+1 747 609 7278</p>
                        </div>
                        {#                            <strong>Phone:</strong> +1 5589 55488 55<br>#}
                        <br>
                        <strong>Email:</strong>
                        <p>info@caex.io</p>
                    </div>
                </div>

                <div class="col-lg-4 col-12 d-flex flex-column">
                    <div class="footer-links ms-auto">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'faq' %}">FAQ</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'easy' %}">Buy/sell crypto</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'contacts' %}">Contacts</a></li>
                        </ul>
                    </div>


                    <div class="social-links order-first order-lg-last mb-3 ms-auto justify-content-end d-flex">
                        <a href="https://t.me/CAEX_LA" class="telegram"><i class="bi bi-telegram"></i></a>
                        <a href="https://www.youtube.com/@CAEX_USA" class="youtube"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.facebook.com/caexfinancierala" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/caex_usa" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->