<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="footer-info">
                        <img class="footer-logo" src="/media/img/caex_logo_white.svg">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="footer-info">
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-12 d-flex flex-column">
                    <div class="footer-links ms-auto">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'faq' %}">FAQ</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'easy' %}">Buy/sell crypto</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'contacts' %}">Contacts</a></li>
                        </ul>
                    </div>


                    <div class="social-links order-first order-lg-last mb-3 ms-auto justify-content-end d-flex">
                        <a href="https://t.me/CAEX_LA" class="telegram"><i class="bi bi-telegram"></i></a>
                        <a href="https://www.youtube.com/@CAEX_USA" class="youtube"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.facebook.com/caexfinancierala" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/caex_usa" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->