<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row footer_mobile">
                <img class="footer-logo" src="/media/img/caex_logo_white.svg">
            </div>
            <div class="row footer-info">
                <div class="col-12 col-lg-4 d-flex flex-column footer-address footer_mobile">
                    <p>1800 S Brand Blvd Glendale,<br> CA 91204 United States<br>Unit 213</p>
                    <strong class="footer-strong">Licence:</strong>
                    <p>MSB License Number 31000251129247</p>
                </div>
                <div class="col-12 col-lg-4 d-flex flex-column footer-contacts footer_mobile">
                    <div>
                        <strong style="font-size: 16px;">Phone:</strong>
                        <p style="line-height: 32px; margin-top: 10px;">+1 747 609 7005</p>
                        <p style="line-height: 32px;">+1 747 609 7278</p>
                    </div>
                    <strong class="mail">Email:</strong>
                    <p style="margin-right: 25px;">info@caex.io</p>
                </div>
                <div class="col-lg-4 col-12 d-flex flex-column footer_mobile">
                    <div class="footer-links ms-lg-auto mt-3 mt-lg-0">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'faq' %}">FAQ</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'easy' %}">Buy/sell crypto</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'contacts' %}">Contacts</a></li>
                        </ul>
                    </div>


                    <div class="social-links order-first order-lg-last mb-3 mt-3 ms-lg-auto d-flex">
                        <a href="https://t.me/CAEX_LA" class="telegram"><i class="bi bi-telegram"></i></a>
                        <a href="https://www.youtube.com/@CAEX_USA" class="youtube"><i class="bi bi-youtube"></i></a>
                        <a href="https://www.facebook.com/caexfinancierala" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/caex_usa" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</footer><!-- End Footer -->