<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <img src="/media/img/logo_blue.svg" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'easy' %}">Buy/sell crypto</a></li>
                <li><a href="{% url 'contacts' %}">Contacts</a></li>
                {% if user.is_authenticated %}
                    <li><a class="btn-getstarted" href="{% url 'about-me' %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    <li><a class="btn-getstarted" href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->


    </div>
</header>

