<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <img src="images/logo_blue.svg" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'faq' %}">f.a.q.</a></li>
                <li><a href="{% url 'easy' %}">easy go crypto</a></li>
                <li><a href="{% url 'contacts' %}">contacts</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

        <a class="btn-getstarted scrollto" href="{% url 'register' %}">register | login</a>

    </div>
</header>

